<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">

</head>

<body>
    <header>
        <h1>Best Books!</h1>
        <nav>
            <ul>

            </ul>
        </nav>
    </header>
    <main>
        <h2>Search By Title Or Author</h2>
        <form action="/searches" method="POST">
            <fieldset>
                <input type="text" required placeholder="Enter a Title or Author" name="one">
            </fieldset>
            <br>
            <fieldset class="radio">
                <label for="title">Title</label>
                <input type="radio" value="intitle" id="title" name="one" checked>
            </fieldset>
            <br>
            <fieldset class="radio">
                <label for="author">Author</label>
                <input type="radio" value="inauthor" id="author" name="one">
            </fieldset>
            <br>
            <fieldset>
                <input type="submit" id="submit" value="Search The Google Books API">
            </fieldset>
        </form>
    </main>
    <footer>

    </footer>

</body>

</html>