<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <title>Error</title>
</head>

<body>
    <header>
        <h1>Errors</h1>
    </header>
    <main>
        <p>Something went wrong <a href="/">go back to main page</a></p>
    </main>
    <footer>

    </footer>

</body>

</html>
© 2021 GitHub, Inc.