@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
}

body {
    background-color: #c6c6c6;
}

header {
    background-color: black;
    width: 100%;
    height: 100px;
}

h1 {
    position: absolute;
    margin: 0 auto;
    left: 20px;
    top: 33px;
    font-size: xx-large;
    color: white;
}

h2 {
    width: 100%;
    height: 80px;
    background-color: gray;
    text-align: center;
    padding-top: 33px;
}

input {
    margin: 20px auto;
    width: calc(100% - 50px);
    height: 80px;
    margin: 10px 25px;
    font-size: x-large;
}

label {
    font-size: x-large;
    position: relative;
    left: 30px;
    top: 30px;
}

h3 {
    width: 100%;
    height: auto;
    text-align: center;
}